body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0px;
  margin: 0px;
}

nav {
  /* background-color: black; */
  text-align: center;
  opacity: 1;
  height: 15%;
  min-height: 120px;
}

.logo {
  color: red;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
}

.menus {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.menu {
  margin: 0px 4px;
  background-color: red;
  outline: none;
  border-style: none;
  width: 100px;
  height: 40px;
}

.mainSection {
  background-color: gray;
  opacity: 0.9;
  width: 60%;
  height: 100vh;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bodySection {
  background-color: red;
  display: flex;
  height: 82%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.items {
  height: 100%;
  width: 80%;
  padding: 20px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.items::-webkit-scrollbar {
  display: none;
}

.item {
  height: 200px;
  width: 100%;
  background-color: pink;
  margin-top: 20px;
  display: flex;
}

.itemL {
  width: 60%;
}

.itemR {
  background-color: purple;
  width: 40%;
  height: 100%;
}

.title {
  font-weight: 700;
  height: 14%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.contents {
  display: flex;
  height: 86%;
}
.content {
  width: 100%;
  margin: 10px;
  /* flex-basis: 8; */
}

.closeBox {
  display: flex;
  align-items: center;
  height: 100%;
}

.closeBtn {
  /* flex-basis: 2; */
  width: 20px;
  height: 20px;
  margin: 10px;
}

footer {
  height: 3%;
}
